.visible-xs
  - current_order.order_items.each do |item|
    .general-cart-item.divider-lg
      .general-img-wrap-table
      %p.title= item.product.send(Cartify.title_attribute)
      %p.in-grey-600.fw-300= item.product.send(Cartify.title_attribute)
      %table.table
        %tr
          %td
            %span.in-grey-600= t('cart.price')
          %td
            %span.font-16.in-gold-500= number_to_currency item.product.send(Cartify.price_attribute)
        %tr
          %td.vertical-middle
            %span.in-grey-600= t('cart.quantity')
          %td
            %span= item.quantity
        %tr
          %td
            %span.in-grey-600= t('order.total')
          %td
            %span.font-16.in-gold-500= number_to_currency item.total_price
.hidden-xs.divider-lg.pt-20
  %table.table.table-hover
    %thead
      %tr
        %th
          %span.in-grey-600= t('complete.book')
        %th.col-method
        %th
          %span.in-grey-600= t('cart.price')
        %th
          %span.in-grey-600= t('cart.quantity')
        %th
          %span.in-grey-600= t('order.total')
    %tbody
      - current_order.order_items.each do |item|
        %tr
          %td
            .general-img-wrap-table
          %td
            %p.in-grey-600.fw-300= item.product.send(Cartify.title_attribute)
          %td
            %span.font-16.in-gold-500= number_to_currency item.product.send(Cartify.price_attribute)
          %td
            %span.ml-30= item.quantity
          %td
            %span.font-16.in-gold-500= number_to_currency item.total_price
