!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Dummy
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %span.shop-icon= shop_icon_quantity
    #flash-display
  .container
    - flash.each do |type, msg|
      %div{:class => "alert alert-#{type == 'notice' ? 'info' : type} fadeout", 'data-dismiss': 'alert'}
        %button.close &times;
        = msg if msg.is_a?(String)
    = link_to I18n.t('cart.cart'), cartify.cart_path
    = yield
