%p#notice= notice
%p
  %strong Title:
  = @product.send(Cartify.title_attribute)
%p
  %strong Price:
  = @product.send(Cartify.price_attribute)
= link_to 'Edit', edit_product_path(@product)
|
= link_to 'Back', products_path
