#addres.general-main-wrap.tab-pane.fade.in.active{role: "tabpanel"}
  = form_for @addresses, url: settings_addresses_path do |f|
    .hidden-xs.hidden-sm
      .row
        .col-md-5
          %h3.general-subtitle.mt-0= t('settings.billing')
        .col-md-5.col-md-offset-1
          %h3.general-subtitle.mt-0= t('settings.shipping')
    .row
      .col-md-5.mb-40
        .visible-xs.visible-sm
          %h3.general-subtitle.mt-0= t('settings.billing')
        = f.fields_for @addresses.billing do |ff|
          - bill_errors = @addresses.billing.errors
          = render 'cartify/shared/address', ff: ff, errors: bill_errors
          = f.hidden_field "[billing][user_id]", value: cartify_current_user.id
      .col-md-5.col-md-offset-1.mb-25
        .visible-xs.visible-sm
          %h3.general-subtitle.mt-0= t('settings.shipping')
        = f.fields_for @addresses.shipping do |ff|
          - ship_errors = @addresses.shipping.errors
          = render 'cartify/shared/address', ff: ff, errors: ship_errors
          = f.hidden_field "[shipping][user_id]", value: cartify_current_user.id
        .form-group.checkbox
          %label.checkbox-label
            = f.check_box :use_billing, class: 'checkbox-input', id: 'use_billing', hidden: true
            %span.checkbox-icon
              %i.fa.fa-check
            %span.checkbox-text= t('settings.use_billing')
    .ral-text-align.mb-60
      = f.submit t('settings.save'), class: 'button btn btn-default center-block mb-20'
