%tr
  %td
    %p.font-16= t('confirm.item_total')+':'
  %td
    %p.font-16= number_to_currency current_order.subtotal_item_total
%tr
  %td
    %p.font-16= t('confirm.shipping')+':' unless step == :address
  %td
    %p.font-16= number_to_currency current_order.shipping_price unless step == :address
%tr
  %td
    %strong.font-16= t('cart.total')+':'
  %td
    %strong.font-16= number_to_currency current_order.total || '--'
